* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 1024px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  padding: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.logo > p {
  font-size: 3rem;
  color: #4338ca;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  width: 80%;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #4338ca;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  margin-bottom: 6rem;
}

.banner-image {
  height: 40rem;
  width: auto;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 768px) {
  body {
    height: auto;
    overflow: scroll;
  }

  .banner-image {
    height: 30rem;
  }
}

@media (max-width: 540px) {
  .logo > p {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  a {
    font-size: 1rem;
  }

  .banner-image {
    height: auto;
    width: 90%;
  }
}
